@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form action="@Url.Action("Create","Home")" method="post">
    <div class="form-group">
        <label class="text-center">Username:</label>
        <input type="text" class="form-control" name="Username" />
    </div>
    <div class="form-group">
        <label class="text-center">Password:</label>
        <input type="password" class="form-control" name="Password" />
    </div>
    <div class="form-group">
        <label class="text-center">FullName:</label>
        <input type="text" class="form-control" name="FullName" />
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
</form>

